*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body{
  font-size: 16px;
  font-family: serif;
  font-style:normal;
  font-weight: normal;
  color:black;
  margin:0;
  padding:0;
  border:0;
}
 img{
  width: 100%;
  display: block;
} 
a {
  text-decoration: none;
  color:black;
}

/*****************************header section*********************************/
header{
  position: relative;
}
header h1{
  background-color:rgb(255,134,0, .8);
  position: absolute;
  top:0;
  margin:0;
  height: 60px;
  width: 100%;
}
header h1 a{
  margin:10px 20px 0 0;
  float: right;
  
}
.menu-box{
  max-width: 960px;
  height: 32px;
  margin: 0 auto;
  padding: 0 20px;
}
 .menu{
  display: flex;
  justify-content:flex-start;
  margin-top:0px;
} 
.menu-box li span{
  font-size: 12px;
}
.fab{
  color:gray;
}

/**********************************************************/

.brand , .brand-text{
  padding:0  20px ;
}

.title{
  height: 65px;
  margin:22px auto 0;
  
}

h2 span{
 color:red;
}
h3 span{
  line-height: 1em;
  font-size: 40px;
  padding-bottom:10px;
}
h2 , .title em {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}
h3, h3 span, h3 em {
  display: block;
  width: 100%;
  text-align: center;
}
em{
  line-height: 1em;
  font-size:18px;
}
article{
  display: block;
  max-width: 960px;
  text-align: center;
  margin:0 auto;
}
.brand-text{
  margin:38px 0 58px;
}
/***************************商品 詳細***********************************/
.product{
  padding: 0 20px;
  margin:80px auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

}
.product li span{
  display: block;
  text-align: center;
  margin:15px 0;
}

@media (max-width:1023px){
  .product li{
    width: 48%;
  }  
  .product{
    margin: 20px 0;
  }
}


/**********************ここかららいんなっぷ**********************/

.line-up{
  background-color:cornsilk;
  padding:30px 0 80px 0;
}
li{
  list-style: none;
}
.macaron , .brownie{
  margin-bottom:80px;
}
ul{
  padding:0;
}
.line-up-menu li{
  background-color:cornsilk;
  position: relative;
}
.line-up-menu .box{
  height:50px;
  background-color: white;
  width: calc(100% - 150px);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -25px);
  -ms-transform: translate(-50%, -25px);
  transform: translate(-50%, -25px);
}
aside{
  display: block;
  text-align: center;
}
h6{
  margin:0;
}
h6 > span{
  color:red;
}
.line-up-menu em{
  font-size: 21px;
}
/*********************************お誕生日****************************************/

.brand-menu span{
  display:block ;
  width: 100%;
  text-align: center; 
 
} 

.brand-menu ul{
  margin-bottom:31px ;
  padding-bottom:34px;
}


@media (max-width:1023px){ 
  .brand-menu{
    padding:0px 20px;
  }
  
  .brand-menu ul li picture{
    display: block;
    width: 120px;
    height: 90px;
    margin:0;
  }
  .brand-menu li{
   margin-bottom: 15px;
  }
  
  .main-picture{
    display: flex;
  }
  .main-picture picture img{
    display: block;
    width: 120px;
    height: 90px;
    margin: 0;
    border: solid 1px black;
    border-right-style: none;

  }

  .side{
    border: solid 1px black;
    border-left-style: none;
    height: 90px;
    width:calc( 100% - 120px);
    margin: 0;
    background-color: white;
  }
  .brand-menu span{
    width: 100%;
    text-align: center;
    line-height: 90px;
  } 

  
} 



/************************************ここからしたのせくしょん****************************/
.bottom-wrapper span{
  display: block;
  line-height: 1em;
  font-size: 26px;
  padding:15px 0;
  width: 100%;
  text-align: center;
}
.bottom-wrapper{
  padding:40px 20px 25px;

}


/******************** ここからふったぁー****************************/ 
footer{
  background-color:#fee9c8;
  margin-top:15px;
}
.follow{
  max-width: 375px;
  margin:0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.follow li {
  display: block;
  
}
small{
  display: block;
  clear: both;
  padding-bottom:10px;
  text-align: center;
}
/************背景**************/
.menu-color{
  background-color:cornsilk;
  padding:10px 0 23px 0 ;
  
}
.birthday{
  background-color:cornsilk;
}
.brand-menu h3{
  margin:0px 0 40px 0;
  font-size: 35px;
}
/********************れすぽんしぶ****765以下のとき***************/
@media (max-width:765px){
  .menu-box{
    display: none;
  }

  .brand-menu h3{
    margin:0px 0 25px 0;
    font-size: 1.17em;
  }

}

/********************1024以上の時*****************/
@media (min-width:1024px){

  /********header*******/
  header h1{
    height: 80px;
  }
  header h1 img{
    margin:0 20px 0 0;
    float: right;
    width: 130%;
    height: auto;
    
  }
  /********************/
  h2{
    line-height: 1em;
    font-size: 44px;
    padding-bottom:10px;
  }
  h3 span{
    line-height: 1em;
    font-size: 51px;
    padding-bottom:10px;
  }



 .title em{
    line-height: 1em;
    font-size: 18px;
  }

  /***ここらへんからブランドメニュー****/
  .brand , .brand-menu , .bottom-block {
    width: 960px;
    margin:0 auto;
    display: block;
  }
  .side span{
    padding-top:10px;
   
  }

  

   ul{
    display: flex; 
    justify-content:space-between;
  } 

  .brand-menu{
    padding-bottom:30px;
  }
  .brand-menu ul li{
    width: 280px;
    height: 210px;
   }
  .brand-menu ul{
  height: 250px;

  margin:0;
}










/***************************line up******************************/
  .line-up{
    padding:23px 0 100px 0;
  }
  .block{
    max-width: 1440px;
    width: 100%;
    margin:0 auto;
  }
  .line-up ul{
    margin-bottom:0px;
  }
  .line-up ul li{
    margin:0px;
  }
  
  
  
  
  .line-up h3{
    height: 75px;
  }
  .line-up h3 span{
    font-size:50px;
    line-height: 1em;
  }  
  .line-up h3 span, .line-up h3 em{
    display: block;
    width: 100%;
    text-align: center;
  }

  /*********************************************************/
  .bottom-wrapper{
    padding: 0;
  }
  .bottom-wrapper ul{
    margin:0;
    padding-top:20px;
    padding-bottom: 62px;
  }
  .bottom-block ul li {
    width: 280px;
    height: 110px;
  }









}
